@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");


html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}



img {
  width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1152px;
}

button {
  font-family: "Rubik", sans-serif;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.sec-1 {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 2;
}

.sec-3 {
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

.sec-4 {
  background: #f8f8f8;
  margin-top: -125px;
  padding-bottom: 100px;
}

.sub-heading {
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--text-color-dark);
  line-height: 50px;
}

.sub-desc {
  font-size: 1.1rem;
  color: #4f5665;
  line-height: 30px;
}

.sub-desc span {
  font-weight: 500;
}

.section-text {
  max-width: 555px;
  margin: auto;
  text-align: center;
}

.btn-light {
  border-radius: 50px;
  color: #f53838;
  background: #fff;
  border: 1px solid #f53838;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.btn-light:hover {
  background: #f53838;
  color: #fff;
}

.btn-dark {
  position: relative;
  color: #fff;
  border-radius: 10px;
  background: #f53838;
  font-weight: bold;
  transition-property: top, border, color, box-shadow, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  top: 0;
}

.btn-dark:hover {
  top: -10px;
  background: #fff;
  color: #f53838;
}

.body-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.body-overlay.show {
  display: block;
}

/************ Header & Navigation ************/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.nav-toggler-ctr {
  display: none;
}

.menu-title {
  display: none;
}

nav.show {
  animation: 250ms ease-out navslidein;
  display: block;
}

@keyframes navslidein {
  from {
    left: -250px;
  }

  to {
    left: 0;
  }
}

nav.hide {
  animation: 250ms ease-out navslideout forwards;
  display: block;
}

@keyframes navslideout {
  from {
    left: 0;
  }

  to {
    left: -250px;
  }
}

.header-sign-btns.show {
  animation: 250ms ease-out login-slidein;
  display: block;
}

@keyframes login-slidein {
  from {
    right: -250px;
  }

  to {
    right: 0;
  }
}

.header-sign-btns.hide {
  animation: 250ms ease-out login-slideout forwards;
  display: block;
}

@keyframes login-slideout {
  from {
    right: 0;
  }

  to {
    right: -250px;
  }
}

.nav-item-list {
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  color: #4f5665;
  text-decoration: none;
  margin: 0 1.1rem;
  font-size: 1rem;
}


.login-toggler-ctr {
  display: none;
}

.sign-in-btn {
  font-weight: 500;
}

.sign-up-btn {
  padding: 10px 40px;
  font-weight: 500;
}

.sign-in-btn,
.sign-up-btn {
  margin: 0 0.8rem;
}

/************ Call-to-Action ************/

.cta {
  display: flex;
  align-items: center;
  padding-top: 151px;
}

.cta-info {
  margin-right: 10px;
}

.cta-text-header {
  font-size: 3.1rem;
  font-weight: 500;
  color: var(--text-color-dark);
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.cta-text-header span {
  font-weight: bold;
}

.cta-text-desc {
  margin: 0;
}

.cta-img-ctr {
  min-width: 550px;
}

.cta-btn {
  padding: 17.5px 77.5px;
  margin-top: 2.5rem;
  font-style: normal;
  line-height: 25px;
  font-size: 1rem;
  box-shadow: 0px 30px 54px -5px rgba(245, 56, 56, 0.35);
}

.cta-btn:hover {
  box-shadow: 0px 40px 54px 0px rgba(245, 56, 56, 0.35);
}

/************ Stats ************/

.stats {
  display: flex;
  margin: 100px 0 90px;
  border-radius: 10px;
  box-shadow: 0px 50px 144px rgb(13, 16, 37, 0.06);
  padding: 37px 0;
}

.stats-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 30px 0;
}

.stats-item:nth-child(2) {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}

.stats-img-ctr {
  width: 55px;
  height: 55px;
}

.stats-text {
  margin-left: 36px;
}

.stats-text .text-num {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color-dark);
}

.stats-text .text-label {
  font-size: 1.25rem;
  margin: 0;
  color: #4f5665;
}

/************ Features ************/

.features {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 130px;
}

.features-img-ctr {
  min-width: 500px;
}

.feature-header {
  margin-bottom: 20px;
}

.feature-desc {
  margin-top: 0;
  margin-bottom: 20px;
}

.features-text {
  max-width: 380px;
  font-size: 1rem;
}

.feature-list {
  padding-left: 0;
}

.feature-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
  color: #4f5665;
}

.feature-list-item span {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}

/************ Plans ************/

.plans {
  padding-top: 80px;
}

.plans-list {
  display: flex;
  justify-content: space-evenly;
}

.plans-text {
  margin-bottom: 60px;
}

.plan {
  /* border: 2px solid #dddddd; */
  background: #fff;
  width: 330px;
  padding: 80px 0 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.plan:hover{
  border: 1px solid #f53838;
}

.plan-img-ctr {
  width: 145px;
  margin: 0 auto;
}

.plan-type {
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 0px;
}

.plan-features {
  padding-left: 0;
  margin: 30px auto 0;
}

.plan-feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #4f5665;
  line-height: 30px;
  font-size: 0.9rem;
}

.plan-feature-item span {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 20px;
}

.plan-select {
  margin-top: auto;
}

.plan-price {
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color-dark);
}

.plan-price span {
  color: #4f5665;
  font-weight: normal;
}

.plan-select-btn {
  /* border: 2px solid #f53838; */
  font-size: 1rem;
  font-weight: bold;
  padding: 13px 60px;
  display: block;
  margin: 20px auto 0;
}
/* 
#premium-plan {
  border: 2px solid #f53838;
} */

/************ Locations ************/

.locations {
  margin-top: 150px;
}

.locations-header {
  max-width: 380px;
  margin: 0 auto 30px;
}

.location-points-ctr {
  margin-top: 150px;
}

/************ Brands ************/

.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

/************ Testimonials ************/

.testimonial-text {
  margin-top: 50px;
}

.testimonial-items {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap to the next line if there's not enough space */
  justify-content: center; /* Centers items horizontally */
  margin-top: 60px;
  padding-bottom: 20px;
  padding: 30px;
  gap: 20px;
 }

.testimonial-item {
  width: calc(50% - 25px); /* Ensures two items per row with some spacing */
  margin-bottom: 25px; /* Adds vertical spacing between items */
  max-width: 310px; /* Limits maximum width of each item */
  padding: 10px 15px 10px 15px;
  
}

@media (max-width: 768px) {
  .testimonial-item {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .testimonial-item {
    width: calc(33.33% - 25px); /* Three items per row on larger screens */
  }
}

.testimonial-item {
  /* border: 2px solid #f53838; */
  border: 1px solid #4f5665;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden; /* Ensures the border-radius clips the inner content */
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid #f53838;
}

.testimonial-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.testimonial-item:hover::before {
  opacity: 1;
}

.person-info {
  position: relative; /* Ensure content is above the pseudo-element */
  z-index: 1; /* Lift content above the overlay */
}




.person-icon-ctr {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.person-info-rating {
  display: flex;
  align-items: center;
}

.person-info {
  display: flex;
  align-items: center;
}

.person-name {
  margin: 0;
  color: var(--text-color-dark);
  font-size: 1.1rem;
  font-weight: 500;
}

.person-location {
  margin: 0;
  color: #4f5665;
  font-size: 0.9rem;
}

.person-rating {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.person-rating p {
  color: var(--text-color-dark);
}

.rating-icon-ctr {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
}

.person-testimonial {
  margin-top: 20px;
}

.person-testimonial p {
  color: var(--text-color-dark);
  margin: 0;
  line-height: 30px;
}

.slider-controls {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-link {
  width: 15px;
  height: 15px;
  background: #dde0e4;
  border-radius: 50px;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.item-link.selected {
  background: #f53838;
}

.slider-btn {
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  padding: 15px;
  outline: none;
}

.slider-btn img {
  width: 30px;
  height: 30px;
  display: block;
}

.slider-btn.left {
  margin-right: 20px;
}

.slider-btn.right {
  background: #f53838;
}

/************ Subscribe ************/

.subscribe {
  position: relative;
  /* margin-bottom: -90px; */
  width: 80%;
  justify-content: center;
  /* margin-left: 160px; */
  margin: 23px auto;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  padding: 50px 70px;
  box-shadow: 0px 10px 114px rgba(11, 19, 42, 0.06);
}

.subscribe-text {
  width: 400px;
}

.subscribe-header {
  margin: 0;
  margin-bottom: 15px;
}

.subscribe-desc {
  margin: 0;
}

.subscribe-btn {
  padding: 18px 65px;
  box-shadow: 0px 40px 54px -10px rgba(245, 56, 56, 0.35);
}

.subscribe-btn:hover {
  box-shadow: 0px 45px 54px -5px rgba(245, 56, 56, 0.35);
}

/************ Footer ************/

footer {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
}

.footer-logo-ctr {
  width: 148px;
}

.company-desc-text {
  width: 340px;
  margin-top: 20px;
}

.company-desc {
  margin: 0;
}

.social-media-links {
  display: flex;
  margin-top: 30px;
}

.social-media-icon-ctr {
  margin-right: 20px;
  position: relative;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
}

.social-media-icon {
  display: block;
  position: relative;
  cursor: pointer;
}

.social-media-icon-ctr::before {
  content: "";
  position: absolute;
  background: #f53838;
  width: 20px;
  height: 20px;
  top: 7px;
  left: 7px;
}

.copyright {
  color: #afb5c0;
  margin-top: 30px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 570px;
}

.link-col-label {
  color: var(--text-color-dark);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-link {
  color: #4f5665;
  text-decoration: none;
  line-height: 30px;
  display: block;
  margin-bottom: 10px;
}





/* Responsiveness */

/*########### Laptop ###########*/

@media (max-width: 1024px) {
  /************ Header & Navigation ************/

  header {
    padding: 30px 0;
  }

  /************ Call-to-Action ************/

  .cta-img-ctr {
    min-width: 410px;
  }

  .cta-info {
    margin-right: 25px;
  }

  .cta-text-header {
    font-size: 2.3rem;
    line-height: 50px;
  }

  .cta-btn {
    padding: 17.5px 60px;
    font-size: 0.9rem;
  }

  /************ Stats ************/

  .stats {
    padding: 20px 0;
  }

  .stats-text .text-num {
    font-size: 1.2rem;
  }

  .stats-text .text-label {
    font-size: 1rem;
  }

  /************ Features ************/

  .features-img-ctr {
    min-width: 400px;
    width: 400px;
  }

  .features {
    align-items: center;
  }

  /************ Plans ************/

  .plan {
    margin: 0 15px;
  }

  /************ Locations ************/

  .location-points-ctr {
    padding: 0 20px;
  }
}

@media (max-width: 1020px) {
  /************ Header & Navigation ************/

  nav {
    position: fixed;
    height: 100vh;
    background: #fff;
    top: 101px;
    width: 250px;
    left: 0;
    display: none;
  }

  .menu-title {
    text-align: center;
    font-size: 1.1rem;
    color: var(--text-color-dark);
    font-weight: 500;
    background: #eeeff2;
    padding: 15px;
    margin: 0;
  }

  .nav-title {
    display: block;
  }

  .nav-item-list {
    margin: 0;
  }

  .nav-item {
    display: block;
    border-bottom: 1px solid #eeeff2;
    padding: 20px;
  }

  .logo-ctr {
    margin-right: auto;
    margin-left: 30px;
  }

  .nav-toggler-ctr {
    display: block;
    width: 20px;
    box-sizing: content-box;
  }
}

/*########### Tablet ###########*/

@media (max-width: 768px) {
  /************ Global Styles ************/
  .sec-4 {
    margin-top: -165px;
  }

  /************ Call-to-Action ************/

  .cta {
    flex-direction: column;
  }

  .cta-info {
    text-align: center;
    width: 90%;
    margin: 0 0 60px;
  }

  .cta-text-header {
    font-size: 3.1rem;
    line-height: 70px;
  }

  .cta-img-ctr {
    width: 550px;
  }

  /************ Features ************/

  .features {
    flex-direction: column-reverse;
  }

  .features-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
  }

  .feature-list {
    align-self: center;
  }

  .feature-list-item {
    font-size: 1rem;
  }

  /************ Plans ************/

  .plan {
    margin: 0;
  }

  #free-plan {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #standard-plan {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  #premium-plan {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /************ Subscribe ************/

  .subscribe-content {
    flex-direction: column;
  }

  .subscribe-text {
    width: 80%;
    text-align: center;
    padding-bottom: 90px;
    /* margin-left: 150px; */
    margin: 23px auto;
  }

  /************ Footer ************/

  footer {
    padding-top: 240px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-links {
    margin-bottom: 50px;
  }

  .company-info {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
  }

  .footer-logo-ctr {
    align-self: end;
    margin-bottom: 20px;
  }

  .social-media-links {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    margin-top: 0;
  }
}

@media (max-width: 670px) {
  /************ Plans ************/

  .plans-list {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-bottom: 50px;
  }

  #free-plan {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #standard-plan {
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    border-radius: 10px;
  }

  #premium-plan {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

/*########### Mobile Large ###########*/

@media (max-width: 600px) {
  /************ Global Styles ************/

  .section-text {
    max-width: 100%;
    padding: 0 30px;
  }

  .sec-4 {
    margin-top: -200px;
  }

  /************ Header & Navigation ************/

  header {
    justify-content: space-between;
  }

  .header-sign-btns {
    position: fixed;
    height: 100vh;
    background: #fff;
    top: 101px;
    width: 250px;
    right: 0;
    display: none;
  }

  .header-sign-btns .btn {
    display: block;
    margin: 20px auto;
  }

  .login-title {
    display: block;
  }

  .logo-ctr {
    margin: 0;
  }

  .login-toggler-ctr {
    display: block;
    width: 25px;
    box-sizing: content-box;
  }

  /************ Call-to-Action ************/

  .cta {
    padding-top: 110px;
  }

  .cta-img-ctr {
    width: 90%;
    min-width: 0;
  }

  .cta-text-header {
    font-size: 2.3rem;
    line-height: 50px;
  }

  /************ Stats ************/

  .stats {
    flex-direction: column;
    width: 70%;
    margin: 100px auto 90px;
    padding: 10px 0;
  }

  .stats-item {
    width: auto;
    justify-content: flex-start;
  }

  .stats-item:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 2px solid #eeeff2;
    border-bottom: 2px solid #eeeff2;
  }

  .stats-img-ctr {
    padding-left: 40px;
  }

  /************ Features ************/

  .features-text {
    max-width: 100%;
    padding: 0 30px;
  }

  .features-img-ctr {
    min-width: 0;
    width: 85%;
  }

  /************ Locations ************/

  .locations {
    margin-top: 80px;
  }

  .location-points-ctr {
    margin-top: 40px;
  }

  /************ Testimonials ************/

  .testimonial-items {
    padding: 0 30px;
  }

  .testimonial-item {
    min-width: 260px;
  }

  .person-info-rating {
    flex-direction: column;
    align-items: center;
  }

  .person-rating {
    margin: 15px 0 15px;
  }

  .person-rating p {
    font-size: 1.2rem;
    margin: 0;
  }

  .person-testimonial {
    margin-top: 0;
  }

  .rating-icon-ctr {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  .slider-controls {
    flex-direction: column;
    margin-top: 20px;
  }

  .item-link:last-child {
    margin-right: 0;
  }

  .slider-btns {
    margin-top: 20px;
  }

  /************ Subscribe ************/

  .subscribe-content {
    padding: 50px 40px;
  }

  .subscribe-text {
    padding-bottom: 30px;
  }

  /************ Footer ************/

  footer {
    padding-top: 280px;
  }

  .footer-links {
    width: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  .link-col {
    margin: 0 15px;
  }

  .company-info {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }

  .footer-logo-ctr {
    margin: 0 auto 20px;
  }

  .social-media-links {
    justify-self: center;
  }

  .social-media-icon-ctr:last-child {
    margin-right: 0;
  }

  .copyright {
    margin-top: 15px;
  }
}

/*########### Mobile Medium ###########*/

@media (max-width: 376px) {
  /************ Global Styles ************/

  .sub-heading {
    font-size: 1.9rem;
  }

  /************ Plans ************/

  .plan {
    width: auto;
    padding: 50px 40px 50px;
  }

  /************ Locations ************/

  .location-points-ctr {
    padding: 0;
  }

  /************ Brands ************/

  .brands {
    flex-wrap: wrap;
    justify-content: center;
  }

  .brand-img-ctr {
    width: 100px;
    margin: 0 5px;
  }

  /************ Testimonials ************/

  .testimonial-item {
    min-width: 210px;
  }

  /************ Footer ************/

  .footer-links {
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
  }

  .link-col {
    margin-bottom: 20px;
  }

  .company-desc-text {
    width: 240px;
    padding: 0 20px;
  }
}

/*########### Mobile Small ###########*/

@media (max-width: 321px) {
  /************ Global Styles ************/

  .section-text {
    padding: 0 20px;
  }

  /************ Stats ************/

  .stats {
    width: 80%;
  }

  /************ Features ************/

  .features-text {
    padding: 0 20px;
  }

  .feature-list {
    text-align: left;
  }

  /************ Plans ************/

  .plan {
    width: auto;
    padding: 50px 25px 50px;
  }

  /************ Testimonials ************/

  .testimonial-item {
    min-width: 180px;
  }

  /************ Subscribe ************/

  .subscribe-btn {
    padding: 18px 40px;
  }
}


.nav-item li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #054A68 0%, #52829C 100%);
  border-radius: 5px;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: right;
}
.nav-item a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}